Fritfon-Solardisplay-1.0.0.json
[{"id":"e8667dc1e4759e5d","type":"subflow","name":"Fritzfon Solarimage","info":" - msg.info as String\r\n - msg.house as String\r\n - msg.fromGrid as String\r\n - msg.toGrid as String","category":"image tools","in":[{"x":40,"y":100,"wires":[{"id":"20e4ab8db04d5a0d"}]}],"out":[],"env":[{"name":"Type","type":"str","value":"3","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"Solar"},"v":"1"},{"l":{"en-US":"Solar+House+Grid"},"v":"3"},{"l":{"en-US":"Solar+House+FromToGrid"},"v":"4"},{"l":{"en-US":"Solar+House+FromToGrid2Arrow"},"v":"5"}]}}}],"meta":{"version":"1.0.0","author":"Tim Oberle"},"color":"#C0C0C0","icon":"node-red-contrib-image-tools/image.png"},{"id":"bae8b8aca9fc0b86","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":1390,"y":120,"wires":[]},{"id":"fd42670f044c6afd","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":120,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"c0625ed094de284c","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":120,"wires":[["73d53e437bca4228"]]},{"id":"f4f484657208e927","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1000,"y":120,"wires":[["fd42670f044c6afd"]]},{"id":"73d53e437bca4228","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":870,"y":120,"wires":[["f4f484657208e927"]]},{"id":"d267f61a5ebec0f8","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":80,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"75c40b800cc877be","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":80,"wires":[["1cf85878720bb354"]]},{"id":"1cf85878720bb354","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":870,"y":80,"wires":[["e22a33d574e15375"]]},{"id":"e22a33d574e15375","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1000,"y":80,"wires":[["638c5e505f275a9e"]]},{"id":"638c5e505f275a9e","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1130,"y":80,"wires":[["d267f61a5ebec0f8"]]},{"id":"20e4ab8db04d5a0d","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":210,"y":100,"wires":[["2b2a204700b6250f"],["75d7b832a6024c83"],["114c05fbe4b0d5e4"],["2ec3b68af2178398"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"174f213779885e34","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":160,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"c061e1a34580d891","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":160,"wires":[["174f213779885e34"]],"info":"Best image size = 210x230"},{"id":"75d7b832a6024c83","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGrid.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":500,"y":80,"wires":[["75c40b800cc877be"]]},{"id":"114c05fbe4b0d5e4","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":470,"y":120,"wires":[["c0625ed094de284c"]]},{"id":"2ec3b68af2178398","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/Solar.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":430,"y":160,"wires":[["c061e1a34580d891"]]},{"id":"2b2a204700b6250f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGridDoubleArrow.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":520,"y":40,"wires":[["75c40b800cc877be"]]}]