Fritfon-Solardisplay-Subflow.json
[{"id":"e8667dc1e4759e5d","type":"subflow","name":"Fritzfon Solarimage","info":" - msg.info as String\r\n - msg.house as String\r\n - msg.fromGrid as String\r\n - msg.toGrid as String","category":"image tools","in":[{"x":20,"y":500,"wires":[{"id":"e716048627a9b6e0"}]}],"out":[],"env":[{"name":"Type","type":"str","value":"3","ui":{"icon":"font-awesome/fa-image","type":"select","opts":{"opts":[{"l":{"en-US":"Solar"},"v":"1"},{"l":{"en-US":"Solar+House+Grid"},"v":"3"},{"l":{"en-US":"Solar+House+FromToGrid"},"v":"4"},{"l":{"en-US":"Solar+House+FromToGrid2Arrow"},"v":"5"}]}}},{"name":"Unit","type":"str","value":"","ui":{"icon":"font-awesome/fa-font","type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"W"},"v":"W"},{"l":{"en-US":"kW"},"v":"kW"},{"l":{"en-US":"kWh"},"v":"kWh"}]}}}],"meta":{"version":"1.0.0","author":"Tim Oberle"},"color":"#C0C0C0","icon":"node-red-contrib-image-tools/image.png"},{"id":"bae8b8aca9fc0b86","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":1570,"y":260,"wires":[]},{"id":"f4f484657208e927","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1040,"y":300,"wires":[["1cf85878720bb354"]]},{"id":"d267f61a5ebec0f8","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1450,"y":260,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"75c40b800cc877be","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1310,"y":260,"wires":[["d267f61a5ebec0f8"]]},{"id":"1cf85878720bb354","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1190,"y":260,"wires":[["75c40b800cc877be"]]},{"id":"e22a33d574e15375","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1040,"y":260,"wires":[["1cf85878720bb354"]]},{"id":"638c5e505f275a9e","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":910,"y":260,"wires":[["e22a33d574e15375"]]},{"id":"c061e1a34580d891","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1310,"y":340,"wires":[["d267f61a5ebec0f8"]],"info":"Best image size = 210x230"},{"id":"75d7b832a6024c83","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"Solardisplay.Solar+House+From/ToGrid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":660,"y":260,"wires":[["638c5e505f275a9e"]]},{"id":"114c05fbe4b0d5e4","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"Solardisplay.Solar+House+Grid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":630,"y":300,"wires":[["f4f484657208e927"]]},{"id":"2ec3b68af2178398","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"Solardisplay.Solar","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":590,"y":340,"wires":[["c061e1a34580d891"]]},{"id":"2b2a204700b6250f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"Solardisplay.Solar+House+From/ToGrid2Arrow","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":680,"y":220,"wires":[["638c5e505f275a9e"]]},{"id":"ed5e6d195b5b8bf5","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGridDoubleArrow.png","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":300,"y":40,"wires":[["7c62ea964b4a4108"]]},{"id":"2f7b2aa263e7475a","type":"inject","z":"e8667dc1e4759e5d","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payloadType":"str","x":90,"y":40,"wires":[["ed5e6d195b5b8bf5"]]},{"id":"7c62ea964b4a4108","type":"change","z":"e8667dc1e4759e5d","name":"","rules":[{"t":"set","p":"Solardisplay.Solar+House+From/ToGrid2Arrow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":40,"wires":[[]]},{"id":"87b54a4cf37d5d29","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGrid.png","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":280,"y":80,"wires":[["2e7ef8d01ec23f75"]]},{"id":"7d027020bca7984d","type":"inject","z":"e8667dc1e4759e5d","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","x":90,"y":80,"wires":[["87b54a4cf37d5d29"]]},{"id":"2e7ef8d01ec23f75","type":"change","z":"e8667dc1e4759e5d","name":"","rules":[{"t":"set","p":"Solardisplay.Solar+House+From/ToGrid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[[]]},{"id":"6e1c13e3b26f6121","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview.png","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":250,"y":120,"wires":[["fe3aa04e1374eeec"]]},{"id":"4a1e986fb3f20f8f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/Solar.png","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":210,"y":160,"wires":[["8b0c526dcafd5f69"]]},{"id":"a66ad9c9e0179b31","type":"inject","z":"e8667dc1e4759e5d","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","x":90,"y":120,"wires":[["6e1c13e3b26f6121"]]},{"id":"819c0ed98359c02d","type":"inject","z":"e8667dc1e4759e5d","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","x":90,"y":160,"wires":[["4a1e986fb3f20f8f"]]},{"id":"fe3aa04e1374eeec","type":"change","z":"e8667dc1e4759e5d","name":"","rules":[{"t":"set","p":"Solardisplay.Solar+House+Grid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[[]]},{"id":"8b0c526dcafd5f69","type":"change","z":"e8667dc1e4759e5d","name":"","rules":[{"t":"set","p":"Solardisplay.Solar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[[]]},{"id":"5cd907970a351733","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-31","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1200,"y":840,"wires":[["6e31d24d7d6b4feb"]]},{"id":"d9a27692b73366f7","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":800,"wires":[["f26e24dd7956b695"]],"info":"Best image size = 210x230"},{"id":"6806e97ffb152b6a","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-31","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":800,"wires":[["d11cb963241421d1"]]},{"id":"3c7deb3fae9838f0","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-31","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1770,"y":800,"wires":[["b134b41632841166"]]},{"id":"4f0dafbb9eda9bbe","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-31","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":920,"y":800,"wires":[["c143ea8ccb4bd060"]]},{"id":"744104204ce76dbe","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-31","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1230,"y":800,"wires":[["9b2218f56944ecfc"]]},{"id":"d347f975ef8625cc","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"Solardisplay.Solar+House+From/ToGrid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":660,"y":800,"wires":[["4f0dafbb9eda9bbe"]]},{"id":"df744012bdd1aea4","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"Solardisplay.Solar+House+Grid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":630,"y":840,"wires":[["5cd907970a351733"]]},{"id":"58d92e912069b8aa","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"Solardisplay.Solar+House+From/ToGrid2Arrow","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":680,"y":760,"wires":[["4f0dafbb9eda9bbe"]]},{"id":"d11cb963241421d1","type":"jimp-image","z":"e8667dc1e4759e5d","name":"KWhSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"121","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1640,"y":800,"wires":[["3c7deb3fae9838f0"]]},{"id":"b134b41632841166","type":"jimp-image","z":"e8667dc1e4759e5d","name":"KWhHousePower","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"51","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1930,"y":800,"wires":[["d9a27692b73366f7"]]},{"id":"c143ea8ccb4bd060","type":"jimp-image","z":"e8667dc1e4759e5d","name":"KWhFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"173","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1080,"y":800,"wires":[["744104204ce76dbe"]]},{"id":"9b2218f56944ecfc","type":"jimp-image","z":"e8667dc1e4759e5d","name":"KWhToGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"209","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1370,"y":800,"wires":[["6806e97ffb152b6a"]]},{"id":"6e31d24d7d6b4feb","type":"jimp-image","z":"e8667dc1e4759e5d","name":"KWhFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"191","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1360,"y":840,"wires":[["6806e97ffb152b6a"]]},{"id":"f26e24dd7956b695","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":2230,"y":840,"wires":[]},{"id":"86282027112ae752","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-15","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1200,"y":480,"wires":[["ffa580fd3647fae5"]]},{"id":"0b1858c3cbf9b69f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":440,"wires":[["af37d5f867f1d1a3"]],"info":"Best image size = 210x230"},{"id":"c87b3e7ff36cfbbd","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-15","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":440,"wires":[["4977e9520beeb354"]]},{"id":"9d76c0aed3e5db49","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-15","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1770,"y":440,"wires":[["69ada1b6b4a8faa2"]]},{"id":"43932c754d3e475e","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-15","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":920,"y":440,"wires":[["ccbdaa9c73c01827"]]},{"id":"3d7dd2a2ab16c51a","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-15","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1230,"y":440,"wires":[["afe916b7e27a6383"]]},{"id":"dd5085db3205d29c","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"Solardisplay.Solar+House+From/ToGrid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":660,"y":440,"wires":[["43932c754d3e475e"]]},{"id":"1a86a20093929434","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"Solardisplay.Solar+House+Grid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":630,"y":480,"wires":[["86282027112ae752"]]},{"id":"a940807f8dceeab1","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"Solardisplay.Solar+House+From/ToGrid2Arrow","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":680,"y":400,"wires":[["43932c754d3e475e"]]},{"id":"4977e9520beeb354","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"121","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1640,"y":440,"wires":[["9d76c0aed3e5db49"]]},{"id":"69ada1b6b4a8faa2","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WHousePower","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"51","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1920,"y":440,"wires":[["0b1858c3cbf9b69f"]]},{"id":"ccbdaa9c73c01827","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"173","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1070,"y":440,"wires":[["3d7dd2a2ab16c51a"]]},{"id":"afe916b7e27a6383","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WToGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"209","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1360,"y":440,"wires":[["c87b3e7ff36cfbbd"]]},{"id":"ffa580fd3647fae5","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"191","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1350,"y":480,"wires":[["c87b3e7ff36cfbbd"]]},{"id":"af37d5f867f1d1a3","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":2230,"y":480,"wires":[]},{"id":"e581504873e26bae","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-23","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1200,"y":660,"wires":[["2ad2d5b7ad21947f"]]},{"id":"3874dca6f6d98905","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":620,"wires":[["a1d2051287eb0593"]],"info":"Best image size = 210x230"},{"id":"96a4206a24957c49","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-23","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":620,"wires":[["9fbf65ea66810111"]]},{"id":"d16e8a0ccaeb2018","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-23","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1770,"y":620,"wires":[["7233d3f948e58bd3"]]},{"id":"f5d05a119b6989e5","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-23","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":920,"y":620,"wires":[["3b26972b229380cf"]]},{"id":"2552a2f1eada5adc","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-23","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1230,"y":620,"wires":[["7962372a9d1a6469"]]},{"id":"3b49232d39c15c52","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"Solardisplay.Solar+House+From/ToGrid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":660,"y":620,"wires":[["f5d05a119b6989e5"]]},{"id":"ffaa6b33fc4cb4fa","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"Solardisplay.Solar+House+Grid","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":630,"y":660,"wires":[["e581504873e26bae"]]},{"id":"83bd6cfbb2e48582","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"Solardisplay.Solar+House+From/ToGrid2Arrow","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":680,"y":580,"wires":[["f5d05a119b6989e5"]]},{"id":"9fbf65ea66810111","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"121","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1640,"y":620,"wires":[["d16e8a0ccaeb2018"]]},{"id":"7233d3f948e58bd3","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWHousePower","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"51","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1920,"y":620,"wires":[["3874dca6f6d98905"]]},{"id":"3b26972b229380cf","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"173","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1070,"y":620,"wires":[["2552a2f1eada5adc"]]},{"id":"7962372a9d1a6469","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWToGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"209","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1360,"y":620,"wires":[["96a4206a24957c49"]]},{"id":"2ad2d5b7ad21947f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWFromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"191","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1350,"y":660,"wires":[["96a4206a24957c49"]]},{"id":"a1d2051287eb0593","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":2230,"y":660,"wires":[]},{"id":"e716048627a9b6e0","type":"switch","z":"e8667dc1e4759e5d","name":"Unit","property":"Unit","propertyType":"env","rules":[{"t":"empty"},{"t":"eq","v":"W","vt":"str"},{"t":"eq","v":"kW","vt":"str"},{"t":"eq","v":"kWh","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":500,"wires":[["144ae0ea4fca89e8"],["3aa16709b65959f2"],["694a56e6cfb02e1b"],["20022a9c17e24f7c"]]},{"id":"144ae0ea4fca89e8","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":280,"wires":[["2b2a204700b6250f"],["75d7b832a6024c83"],["114c05fbe4b0d5e4"],["2ec3b68af2178398"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"3aa16709b65959f2","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":460,"wires":[["a940807f8dceeab1"],["dd5085db3205d29c"],["1a86a20093929434"],["b33c35fdc11bdd82"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"694a56e6cfb02e1b","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":640,"wires":[["83bd6cfbb2e48582"],["3b49232d39c15c52"],["ffaa6b33fc4cb4fa"],["764f2599357b6ee4"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"20022a9c17e24f7c","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":820,"wires":[["58d92e912069b8aa"],["d347f975ef8625cc"],["df744012bdd1aea4"],["bee50c0ee8b536f5"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"b33c35fdc11bdd82","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"Solardisplay.Solar","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":590,"y":520,"wires":[["b8c2fc5038e07e82"]]},{"id":"b8c2fc5038e07e82","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":520,"wires":[["e690368c7b1cbe1e"]],"info":"Best image size = 210x230"},{"id":"d5830983221be2c9","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":520,"wires":[["af37d5f867f1d1a3"]],"info":"Best image size = 210x230"},{"id":"e690368c7b1cbe1e","type":"jimp-image","z":"e8667dc1e4759e5d","name":"WSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"67","parameter3Type":"num","parameter4":"W","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1640,"y":520,"wires":[["d5830983221be2c9"]]},{"id":"764f2599357b6ee4","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"Solardisplay.Solar","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":590,"y":700,"wires":[["0f3aeea1de2a306c"]]},{"id":"0f3aeea1de2a306c","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":700,"wires":[["ced48d691e479e8b"]],"info":"Best image size = 210x230"},{"id":"ced48d691e479e8b","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"67","parameter3Type":"num","parameter4":"kW","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1640,"y":700,"wires":[["34c3cc47234c7254"]]},{"id":"34c3cc47234c7254","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":700,"wires":[["a1d2051287eb0593"]],"info":"Best image size = 210x230"},{"id":"bee50c0ee8b536f5","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"Solardisplay.Solar","dataType":"flow","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":590,"y":880,"wires":[["b79b484205c8d3c8"]]},{"id":"b79b484205c8d3c8","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1510,"y":880,"wires":[["e11f9f538be78707"]],"info":"Best image size = 210x230"},{"id":"e11f9f538be78707","type":"jimp-image","z":"e8667dc1e4759e5d","name":"kWhSolar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"67","parameter3Type":"num","parameter4":"kWh","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1650,"y":880,"wires":[["0c7b2048a0fe4908"]]},{"id":"0c7b2048a0fe4908","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":2090,"y":880,"wires":[["f26e24dd7956b695"]],"info":"Best image size = 210x230"}]