Fritfon-Solardisplay.json
[{"id":"e8667dc1e4759e5d","type":"subflow","name":"Fritzfon Solarimage","info":" - msg.info as String\r\n - msg.house as String\r\n - msg.fromGrid as String\r\n - msg.toGrid as String","category":"image tools","in":[{"x":40,"y":100,"wires":[{"id":"20e4ab8db04d5a0d"}]}],"out":[],"env":[{"name":"Type","type":"str","value":"3","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"Solar"},"v":"1"},{"l":{"en-US":"Solar+House+Grid"},"v":"3"},{"l":{"en-US":"Solar+House+FromToGrid"},"v":"4"},{"l":{"en-US":"Solar+House+FromToGrid2Arrow"},"v":"5"}]}}}],"meta":{"version":"1.0.0","author":"Tim Oberle"},"color":"#C0C0C0","icon":"node-red-contrib-image-tools/image.png"},{"id":"bae8b8aca9fc0b86","type":"http response","z":"e8667dc1e4759e5d","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":1390,"y":120,"wires":[]},{"id":"fd42670f044c6afd","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":120,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"c0625ed094de284c","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":120,"wires":[["73d53e437bca4228"]]},{"id":"f4f484657208e927","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"177","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1000,"y":120,"wires":[["fd42670f044c6afd"]]},{"id":"73d53e437bca4228","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":870,"y":120,"wires":[["f4f484657208e927"]]},{"id":"d267f61a5ebec0f8","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":80,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"75c40b800cc877be","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"107","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":80,"wires":[["1cf85878720bb354"]]},{"id":"1cf85878720bb354","type":"jimp-image","z":"e8667dc1e4759e5d","name":"house","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"37","parameter3Type":"num","parameter4":"house","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":870,"y":80,"wires":[["e22a33d574e15375"]]},{"id":"e22a33d574e15375","type":"jimp-image","z":"e8667dc1e4759e5d","name":"fromGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"159","parameter3Type":"num","parameter4":"fromGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1000,"y":80,"wires":[["638c5e505f275a9e"]]},{"id":"638c5e505f275a9e","type":"jimp-image","z":"e8667dc1e4759e5d","name":"toGrid","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_32_BLACK","parameter1Type":"jimpFont","parameter2":"-2","parameter2Type":"num","parameter3":"195","parameter3Type":"num","parameter4":"toGrid","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_RIGHT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1130,"y":80,"wires":[["d267f61a5ebec0f8"]]},{"id":"20e4ab8db04d5a0d","type":"switch","z":"e8667dc1e4759e5d","name":"in+out grid, grid or solar only?","property":"Type","propertyType":"env","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":210,"y":100,"wires":[["2b2a204700b6250f"],["75d7b832a6024c83"],["114c05fbe4b0d5e4"],["2ec3b68af2178398"]],"outputLabels":["Solar+House+From/ToGrid2Arrow","Solar+House+From/ToGrid","Solar+House+Grid","Solar"]},{"id":"174f213779885e34","type":"jimp-image","z":"e8667dc1e4759e5d","name":"info","data":"payload","dataType":"msg","ret":"buf","parameter1":"FONT_SANS_16_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"info","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":1250,"y":160,"wires":[["bae8b8aca9fc0b86"]],"info":"Best image size = 210x230"},{"id":"c061e1a34580d891","type":"jimp-image","z":"e8667dc1e4759e5d","name":"solar","data":"payload","dataType":"msg","ret":"img","parameter1":"FONT_SANS_64_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"-70","parameter3Type":"num","parameter4":"solar","parameter4Type":"msg","parameter5":"HORIZONTAL_ALIGN_CENTER","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_MIDDLE","parameter6Type":"AlignY","parameter7":"210","parameter7Type":"num","parameter8":"230","parameter8Type":"num","sendProperty":"payload","sendPropertyType":"msg","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":"max height"}]},"x":750,"y":160,"wires":[["174f213779885e34"]],"info":"Best image size = 210x230"},{"id":"75d7b832a6024c83","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGrid.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":500,"y":80,"wires":[["75c40b800cc877be"]]},{"id":"114c05fbe4b0d5e4","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+Grid","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":470,"y":120,"wires":[["c0625ed094de284c"]]},{"id":"2ec3b68af2178398","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/Solar.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":430,"y":160,"wires":[["c061e1a34580d891"]]},{"id":"2b2a204700b6250f","type":"jimp-image","z":"e8667dc1e4759e5d","name":"Solar+House+From/ToGrid2Arrow","data":"https://github.com/gitmacer/Fritzfon-Solardisplay/raw/main/Images/overview2WayGridDoubleArrow.png","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":520,"y":40,"wires":[["75c40b800cc877be"]]},{"id":"9889cb08946cbd32","type":"tab","label":"Solardisplay","disabled":false,"info":""},{"id":"af3bc03e5827b51c","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/Solar/Power","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["b9307504d6ad9d91"]]},{"id":"f3329897a019c2aa","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar only","env":[{"name":"Type","value":"1","type":"str"}],"x":920,"y":120,"wires":[]},{"id":"b9307504d6ad9d91","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"W\"\nmsg.info = new Date().toLocaleString();\nmsg.solar = global.get(\"Solardisplay.Solar.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[["5ed3fd02f632488f"]]},{"id":"5ed3fd02f632488f","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"msg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":120,"wires":[["f3329897a019c2aa"]]},{"id":"9ee36e4b35f4bb91","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/SolarHouseGrid/Power","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["99aa1455809c977c"]]},{"id":"738fe141477df0d2","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar+House+Grid","env":[],"x":950,"y":380,"wires":[]},{"id":"99aa1455809c977c","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"W\"\nmsg.info = new Date().toLocaleString();\n\n//get data from global context\n//msg.info = global.get(\"Solardisplay.Info\");\nmsg.solar = global.get(\"Solardisplay.Solar.Power\");\n//msg.house = global.get(\"Solardisplay.House.Power\");\nmsg.fromGrid = global.get(\"Solardisplay.PowerMeter.Power\");\n\n//msg.house = global.get(\"Solardisplay.House.Energy.Today\");\n//msg.fromGrid = global.get(\"Solardisplay.PowerMeter.EnergyIn.Today\");\n//msg.toGrid = global.get(\"Solardisplay.PowerMeter.EnergyOut.Today\");\n\n//Calculate \nmsg.house = global.get(\"Solardisplay.Solar.Power\") + global.get(\"Solardisplay.PowerMeter.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[["0290a6df4d43c5ab"]]},{"id":"0290a6df4d43c5ab","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"//to String\nmsg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":380,"wires":[["738fe141477df0d2"]]},{"id":"1471983100f6d962","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/SolarHouseFromToGrid/Today","method":"get","upload":false,"swaggerDoc":"","x":220,"y":420,"wires":[["a06d63e4c28250d8"]]},{"id":"40cb1225ca9789d9","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar+House+FromToGrid","env":[{"name":"Type","value":"4","type":"str"}],"x":980,"y":420,"wires":[]},{"id":"7f22a1239a931eb5","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"//to String\nmsg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":420,"wires":[["40cb1225ca9789d9"]]},{"id":"fa5b19c995212e27","type":"inject","z":"9889cb08946cbd32","name":"Dummydata","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["26bbe765519bb173"]]},{"id":"26bbe765519bb173","type":"change","z":"9889cb08946cbd32","name":"","rules":[{"t":"set","p":"Solardisplay.Solar.Power","pt":"global","to":"600","tot":"num"},{"t":"set","p":"Solardisplay.Solar.Energy.Today","pt":"global","to":"10","tot":"num"},{"t":"set","p":"Solardisplay.PowerMeter.Power","pt":"global","to":"10","tot":"num"},{"t":"set","p":"Solardisplay.PowerMeter.EnergyIn.Today","pt":"global","to":"10","tot":"num"},{"t":"set","p":"Solardisplay.PowerMeter.EnergyOut.Today","pt":"global","to":"10","tot":"num"},{"t":"set","p":"Solardisplay.House.Energy.Today","pt":"global","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[[]]},{"id":"cab28ce87ee30355","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/Solar/Energy/Today","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["d4745acf03da4964"]]},{"id":"5d914a52bca0a4ee","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar only","env":[{"name":"Type","value":"1","type":"str"}],"x":920,"y":160,"wires":[]},{"id":"d4745acf03da4964","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.Today\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["030113ca89f28f14"]]},{"id":"030113ca89f28f14","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"msg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":160,"wires":[["5d914a52bca0a4ee"]]},{"id":"a06d63e4c28250d8","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\n\n//get data from global context\n//msg.info = global.get(\"Solardisplay.Info\");\n//msg.house = global.get(\"Solardisplay.House.Power\");\n//msg.fromGrid = global.get(\"Solardisplay.PowerMeter.Power\");\n\nmsg.house = global.get(\"Solardisplay.House.Energy.Today\");\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.Today\");\nmsg.fromGrid = global.get(\"Solardisplay.PowerMeter.EnergyIn.Today\");\nmsg.toGrid = global.get(\"Solardisplay.PowerMeter.EnergyOut.Today\");\n\n//Calculate \n//msg.house = global.get(\"Solardisplay.Solar.Power\") + global.get(\"Solardisplay.PowerMeter.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[["7f22a1239a931eb5"]]},{"id":"f16bdc0bed05068e","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/Solar/Energy/Yesterday","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["31062e09079ab964"]]},{"id":"5f376eb947204ec3","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar only","env":[{"name":"Type","value":"1","type":"str"}],"x":920,"y":200,"wires":[]},{"id":"31062e09079ab964","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.Yesterday\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["8f8a666d53cec86f"]]},{"id":"8f8a666d53cec86f","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"msg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["5f376eb947204ec3"]]},{"id":"06aff22c07f0a6dc","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/Solar/Energy/ThisMonth","method":"get","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["127ff60f3a48408d"]]},{"id":"4d09947e51b13e2c","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar only","env":[{"name":"Type","value":"1","type":"str"}],"x":920,"y":240,"wires":[]},{"id":"127ff60f3a48408d","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.ThisMonth\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["d3620696625094ea"]]},{"id":"d3620696625094ea","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"msg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["4d09947e51b13e2c"]]},{"id":"01108e6ebda27444","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/Solar/Energy/LastMonth","method":"get","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["ca8bdf56dc21e2fc"]]},{"id":"944a3415252071a6","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar only","env":[{"name":"Type","value":"1","type":"str"}],"x":920,"y":280,"wires":[]},{"id":"ca8bdf56dc21e2fc","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.LastMonth\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["fdcb5d3eb0d673b0"]]},{"id":"fdcb5d3eb0d673b0","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"msg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":280,"wires":[["944a3415252071a6"]]},{"id":"ae853bb59caee6dd","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/SolarHouseFromToGrid/Yesterday","method":"get","upload":false,"swaggerDoc":"","x":240,"y":460,"wires":[["46b3527cd0573dc2"]]},{"id":"e677a8112df94944","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar+House+FromToGrid","env":[{"name":"Type","value":"4","type":"str"}],"x":980,"y":460,"wires":[]},{"id":"a285ca6af2aaa54e","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"//to String\nmsg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":460,"wires":[["e677a8112df94944"]]},{"id":"46b3527cd0573dc2","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\n\n//get data from global context\n//msg.info = global.get(\"Solardisplay.Info\");\n//msg.house = global.get(\"Solardisplay.House.Power\");\n//msg.fromGrid = global.get(\"Solardisplay.PowerMeter.Power\");\n\nmsg.house = global.get(\"Solardisplay.House.Energy.Yesterday\");\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.Yesterday\");\nmsg.fromGrid = global.get(\"Solardisplay.PowerMeter.EnergyIn.Yesterday\");\nmsg.toGrid = global.get(\"Solardisplay.PowerMeter.EnergyOut.Yesterday\");\n\n//Calculate \n//msg.house = global.get(\"Solardisplay.Solar.Power\") + global.get(\"Solardisplay.PowerMeter.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["a285ca6af2aaa54e"]]},{"id":"0823195cb69b477e","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/SolarHouseFromToGrid/ThisMonth","method":"get","upload":false,"swaggerDoc":"","x":240,"y":500,"wires":[["51549f2f8be9fa97"]]},{"id":"9b3d7473ed75b8b4","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar+House+FromToGrid","env":[{"name":"Type","value":"4","type":"str"}],"x":980,"y":500,"wires":[]},{"id":"7ac0fcf2178b329f","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"//to String\nmsg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":500,"wires":[["9b3d7473ed75b8b4"]]},{"id":"51549f2f8be9fa97","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\n\n//get data from global context\n//msg.info = global.get(\"Solardisplay.Info\");\n//msg.house = global.get(\"Solardisplay.House.Power\");\n//msg.fromGrid = global.get(\"Solardisplay.PowerMeter.Power\");\n\nmsg.house = global.get(\"Solardisplay.House.Energy.ThisMonth\");\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.ThisMonth\");\nmsg.fromGrid = global.get(\"Solardisplay.PowerMeter.EnergyIn.ThisMonth\");\nmsg.toGrid = global.get(\"Solardisplay.PowerMeter.EnergyOut.ThisMonth\");\n\n//Calculate \n//msg.house = global.get(\"Solardisplay.Solar.Power\") + global.get(\"Solardisplay.PowerMeter.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["7ac0fcf2178b329f"]]},{"id":"a04d4eb43b7f2151","type":"http in","z":"9889cb08946cbd32","name":"","url":"Solardisplay/SolarHouseFromToGrid/LastMonth","method":"get","upload":false,"swaggerDoc":"","x":240,"y":540,"wires":[["a18ef25e057c9966"]]},{"id":"b34bdbd6811bb14f","type":"subflow:e8667dc1e4759e5d","z":"9889cb08946cbd32","name":"Solar+House+FromToGrid","env":[{"name":"Type","value":"4","type":"str"}],"x":980,"y":540,"wires":[]},{"id":"9a73dc1404d3583a","type":"function","z":"9889cb08946cbd32","name":"To strings and check","func":"//to String\nmsg.info = msg.info ?? \"\";\nmsg.solar = (Number.isFinite(msg.solar) ? msg.solar.toString() : \"-\") + msg.unit;\nmsg.house = (Number.isFinite(msg.house) ? msg.house.toString() : \"-\") + msg.unit;\n\nmsg.fromGrid = (Number.isFinite(msg.fromGrid) ? msg.fromGrid.toString() : \"-\") + msg.unit;\nmsg.toGrid = (Number.isFinite(msg.toGrid) ? msg.toGrid.toString() : \"-\") + msg.unit;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":540,"wires":[["b34bdbd6811bb14f"]]},{"id":"a18ef25e057c9966","type":"function","z":"9889cb08946cbd32","name":"Get data + Unit","func":"msg.unit = \"kWh\"\nmsg.info = new Date().toLocaleString();\n\n//get data from global context\n//msg.info = global.get(\"Solardisplay.Info\");\n//msg.house = global.get(\"Solardisplay.House.Power\");\n//msg.fromGrid = global.get(\"Solardisplay.PowerMeter.Power\");\n\nmsg.house = global.get(\"Solardisplay.House.Energy.LastMonth\");\nmsg.solar = global.get(\"Solardisplay.Solar.Energy.LastMonth\");\nmsg.fromGrid = global.get(\"Solardisplay.PowerMeter.EnergyIn.LastMonth\");\nmsg.toGrid = global.get(\"Solardisplay.PowerMeter.EnergyOut.LastMonth\");\n\n//Calculate \n//msg.house = global.get(\"Solardisplay.Solar.Power\") + global.get(\"Solardisplay.PowerMeter.Power\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":540,"wires":[["9a73dc1404d3583a"]]}]